
/* Details order starts */

@font-face {
    font-family: 'iran_sans_bold';
    src: url('../Fonts/iran_sans_bold.woff') format('woff');
}

@font-face {
    font-family: 'iran_sans_light';
    src: url('../Fonts/iran_sans_light.woff') format('woff');
}

@font-face {
    font-family: 'iran_sans_medi';
    src: url('../Fonts/iran_sans_medi.woff') format('woff');
}
*{
    font-family:iran_sans_light;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    /* text-transform: uppercase; */
    transition: all .2s linear;
}
html{
    font-size: 60%;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
    background: white;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: white;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}
header .logo{
    font-size: 2rem;
    color: black;
    font-weight: 500;
}

header .logo span{
    color: black;
    text-decoration:overline;
    text-decoration-color:white;
}

header .navbar a{
    font-size: 1.5rem;
    color: black;
    margin: 0 2rem;
}

                                    /* HOVER NAVBAR 768PX START */
header .navbar a:hover{
    color: burlywood;
}

                                    /* DETAILS LEBRON 9 REGAL PINK END */
.heading{
    text-align: center;
    font-size: 3rem;
    padding: 10px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 100px;
    padding-top: 80px ;
    padding-bottom: 40px;
}
.heading span{
    color: burlywood;
}

header .icons a{
    font-size: 2rem;
    color: black;
    margin-left: 1.5rem;
}
header .icons a:hover{
    color: orangered;
}
#menu-bar{
    font-size: 2rem;
    padding: .5rem 1rem;
    border: .1rem solid #000;
    color: #000;
    border-radius: .3rem;
    cursor: pointer;
    display: none;
}

            
.featured .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    background: #f5f5f5;
    padding: 2rem;
    align-items: center;
    margin-top: 30px;    
}
.featured .row .content{
    flex: 1 1 40rem;
}
.featured .row .image-container{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    flex: 1 1 50rem;
}
.featured .row .image-container .small-image{
    width: 20%;
}
.featured .row .image-container .big-image{
    width: 80%;
    padding: 1rem;
}
.featured .row .image-container .small-image img{
    width: 100%;
    padding: 1rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    cursor: pointer;
}
.featured .row .image-container .small-image img:hover{
    background: #ccc;
}
.featured .row .image-container .big-image img{
    width: 100%;
}
.featured .row .image-container .big-image img:hover{
    transform: scale(1.05);
}
.featured .row .content h3{
    font-size: 2.5rem;
    color: #000;
}
.featured .row .content .stars i{
    font-size: 1.7rem;
    color: burlywood;
    padding: .5rem 0;
}
.featured .row .content p{
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}
.featured .row .content .price{
    font-size: 2.5rem;
    color: #000;
    font-weight: bolder;
}
.featured .row .content .price span{
    font-size: 1.5rem;
    color: burlywood;
    text-decoration: line-through;
}
                                        /* DETAILS LEBRON 9 REGAL PINK END  */

.add-cart{
    display: inline-block;
    margin-top: 1rem;
    border-radius: .5rem;
    border: .2rem solid #000;
    font-weight: bolder;
    font-size: 1.7rem;
    color: #000;
    cursor: pointer;
    background: burlywood;
    padding: .8rem 3rem;
    border-radius: none;

}




/* Responsive  */

/* Galaxy Fold */
@media screen and (max-width: 280px){
    #menu-bar{
       display: block;
   }

   header .navbar{
       position: absolute;
       top: 100%;
       left: -120%;
       width: 100%;
       background: white;
       border-top: .1rem solid rgba(0, 0, 0, .1);
   }
   header .navbar a{
       font-size: 2rem;
       background: white;
       border: .1rem solid #000;
       border-radius: .5rem;
       padding: 1rem;
       margin: 1rem;
       display: block;
       text-align: center;
       color: black;
   }
   header .navbar.active{
       left: 0;
   }
 .home #prev,.home #next{
   margin-top : 25vh;
 }
}






/* Iphone */
@media screen and (max-width: 390px){
     #menu-bar{
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: -120%;
        width: 100%;
        background: white;
        border-top: .1rem solid rgba(0, 0, 0, .1);
    }
    header .navbar a{
        font-size: 2rem;
        background: white;
        border: .1rem solid #000;
        border-radius: .5rem;
        padding: 1rem;
        margin: 1rem;
        display: block;
        text-align: center;
        color: black;
    }
    header .navbar.active{
        left: 0;
    }
  .home #prev,.home #next{
    margin-top : 8.5vh;
  }
}



@media screen and (max-width:500px){
       #menu-bar{
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: -120%;
        width: 100%;
        background: white;
        border-top: .1rem solid rgba(0, 0, 0, .1);
    }
    header .navbar a{
        font-size: 2rem;
        background: white;
        border: .1rem solid #000;
        border-radius: .5rem;
        padding: 1rem;
        margin: 1rem;
        display: block;
        text-align: center;
        color: black;
    }
    header .navbar.active{
        left: 0;
    }
  .home #prev,.home #next{
    margin-top :9vh;
}
}


/* Details order ends */










/* Order section starts */

.sub-heading{
    text-align: center;
    color:var(--green);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color:var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.order form{
max-width:90rem;
border-radius: .5rem;
box-shadow: var(--box-shadow);
border:.1rem solid rgba(0,0,0,.2);
background:#fff;
padding:1.5rem;
margin:0 auto;
}

.order form .inputBox{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.order form .inputBox .input{
width:49%;
}

.order form .inputBox .input span{
display:block;
padding:.5rem 0;
font-size: 1.5rem;
color:var(--light-color);
}

.order form .inputBox .input input,
.order form .inputBox .input textarea{
background:#eee;
border-radius: .5rem;
padding:1rem;
font-size: 1.6rem;
color:var(--black);
text-transform: none;
margin-bottom: 1rem;
width:100%;
}

.order form .inputBox .input input:focus,
.order form .inputBox .input textarea:focus{
border:.1rem solid var(--green);
}

.order form .inputBox .input textarea{
height:20rem;
resize: none;
}

.order form .btn{
margin-top: 0;
}


/* Order section ends */